<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h2>Users</h2>
<div>
    <th:block th:include="menuPage">Menu</th:block>
</div>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
        </tr>

        <tr th:each="user : ${listUsers}">
            <td th:text="${user.getId()}">Id</td>
            <td th:text="${user.getUsername()}">Name</td>
            <td th:text="${user.getEmail()}">Email</td>

            <td>
                <form th:action="@{edit/{id}(id=${user.id})}" th:object="${user}">
                    <button type="submit">Edit</button>
                </form>
            </td>
            <td>
                <form th:action="@{delete(id=${user.id})}" th:object="${user}">
                    <input type="hidden" name="id" th:value="${user.id}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
    <form th:action="@{add}">
        <button type="submit">Add new user</button>
    </form>
</div>

</body>
</html>