<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<h2>Edit user</h2>
<div>
    <th:block th:include="menuPage">Menu</th:block>
</div>
<div>

    <form th:action="@{/admin/edit}" th:object="${user}" method="post">
        <input type="hidden" name="id" th:value="${user.getId()}">
        <fieldset>
            <legend>User data</legend>
            <p>
                <label th:for="name">Name</label>
                <input type="text" name="name" th:id="name" th:value="${user.getUsername()}">
            </p>
            <p>
                <label th:for="lastName">LastName</label>
                <input type="text" name="lastName" th:id="lastName" th:value="${user.getLastName()}"><br/>
            </p>
            <p>
                <label th:for="email">Email</label>
                <input type="text" name="email" th:id="email" th:value="${user.getEmail()}"><br/>
            </p>
            <p>
                <label th:for="age">Age</label>
                <input type="text" name="age" th:id="age" th:value="${user.getAge()}"><br/>
            </p>
            <p>
                <label th:for="password">Password</label>
                <input type="text" name="password" th:id="password" th:value="${user.getPassword()}"><br/>
            </p>
            <p>
                <label>
                    <input type="checkbox"
                           name="roleAdmin"
                           th:value="${roleAdmin}"
                            th:checked="${roleAdmin}"
                           th:text="Administrator">
                </label>
            </p>
        </fieldset>
        <button type="submit">Edit user</button>
    </form>


    <br/>
    <form th:action="@{/admin/all}">
        <button type="submit">Back to the user list</button>
    </form>
</div>
</body>
</html>